@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

.header {
    background: #222222;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    &__left {
        margin-left: 32px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__right {
        margin-right: 41px;
    }
}
.menu__list {
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.menu__link {
    position: relative;
    padding: 16px 0 14px 0;
}
.menu__box {
    position: absolute;
    width: 232px;
    top: 65px;
    background: #ffffff;
    display: none;
    border-radius: 5px;
}
.menu__box li {
}
.menu__box-list {
    margin-top: 20px;
}
.menu__box-list:last-child {
    margin-bottom: 157px;
}
.menu__box-list li {
    margin-bottom: 11px;
}

.menu__box-link {
}

.menu__box p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    padding-left: 33px;
    margin-bottom: 12px;
}

.menu__box a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    padding-left: 55px;
    margin-bottom: 11px;
}

.menu__box h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 37px 0 0 34px;
}

.link-hover:hover .menu__box {
    display: block;
}

.logo {
    display: block;
    margin-right: 41px;
}
.search {
    display: block;
    margin-right: 33px;
}
.form-browse {
    display: block;
    opacity: 0;
}
.form-browse:hover {
    transition: 1s;
    opacity: 1;
}

.browse {
}
.burger {
    margin-right: 25px;
    padding-top: 5px;
}
.user {
    margin-right: 42px;
}
.cart {
}

.top-content {
    margin-bottom: 65px;
    background: #f1e4e6;
    padding: 0 16px;
    &__head {
        display: flex;
    }
    &__head-image {
        margin-left: -17%;
        margin-right: 60px;
    }
    &__head-text {
        display: flex;
        text-align: left;
        align-self: center;
    }
    &__line {
        height: 96px;
        width: 12px;
        background-color: #f16d7f;
        margin-right: 16px;
    }
    &__headding {
    }
}

.body-content {
    &__catalog {
        margin-bottom: 96px;
    }
    &__catalog-box-1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__catalog-item {
        position: relative;
    }
    &__catalog-item2 {
        position: relative;
    }
    &__catalog-link {
    }
    &__catalog-box-2 {
    }
    &__catalog-text {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.title-top {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
.text-top {
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    color: #222222;
}
.text-top2 {
    color: #e05c6e;
}

.p-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}
.p-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #e05c6e;
}

.img {
    width: 100%;
}

.content-heading {
    margin-bottom: 48px;
    text-align: center;
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin-bottom: 6px;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9f9f9f;
    }
}

.content-items {
    margin-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__box {
        max-width: 360px;
        margin-bottom: 30px;
        background: #f8f8f8;
    }

    &__pic {
        margin-bottom: 25px;
        position: relative;
    }

    &__pic-img {
        width: 100%;
    }

    &__description {
        padding: 20px;
    }

    &__description-title {
        margin-bottom: 13px;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }

    &__description-text {
        margin-bottom: 18px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
    }
    &__description-price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #f16d7f;
    }
}

.content-items__box-link a {
    text-decoration: none;
}
.content-item__add-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.content-item__hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
}

.content-item__add {
    min-width: 138px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    margin: auto;
}

.content-item__add-cart {
    display: block;
    height: 24px;
    margin-right: 11px;
}
.content-items__pic:hover .content-item__hover {
    display: flex;
}

.content-item__add:hover {
    box-shadow: 0 0 10px #e1e1e1;
}

.content-button {
    max-width: 211px;
    margin: 0 auto 95px;
    border: 1px solid #ff6a6a;
    &__link {
        display: block;
        padding: 14px 38px;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
    }
}

.content-button:hover {
    background-color: #f26376;
}

.content-button:hover .content-button__text {
    color: #ffffff;
}

.foot-content {
    background: #222224;
    min-height: 341px;
    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 360px;
        text-align: center;
        margin-top: 103px;
    }
    &__link {
    }
    &__img {
        margin-bottom: 28px;
        height: 40px;
    }
    &__title {
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #fbfbfb;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #fbfbfb;
        padding: 0 32px;
    }
}

.footer {
    background: rgba(244, 244, 244, 0.7);
    &__top {
        background: url(../images/back.jpg) 0 0 / cover no-repeat;
        height: 450px;
        max-width: 1600px;
        margin: 0 auto;
    }
    &__top-content {
        display: flex;
        justify-content: space-between;
    }
    &__bot {
        background: #222224;
        height: 80px;
    }
    &__info {
        max-width: 360px;
        text-align: center;
    }
    &__info-photo {
        padding-top: 85px;
        margin-bottom: 40px;
    }
    &__info-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
    }
    &__subscribe {
        text-align: center;
        padding-top: 150px;
    }
    &__subscribe-title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
    }
    &__subscribe-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 32px;
    }
}

.email-input {
    outline: none;
    border: none;
    display: block;
    border-radius: 40px 0 0 40px;
    min-width: 233px;
    background: #e1e1e1;
    padding-left: 22px;
}
.email-button {
    background: #f16d7f;
    outline: none;
    border: none;
    display: block;
    height: 50px;
    width: 100px;
    border-radius: 0 40px 40px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.email-button:hover {
    font-weight: 700;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

.form-box {
    display: flex;
}

.footer__bot-content {
    display: flex;
    justify-content: space-between;
}
.footer__bot-left {
}
.footer-text {
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
}
.footer__bot-right {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.footer__minibox {
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    margin-top: 24px;
    text-align: center;
    vertical-align: middle;
}

.footer__icon {
    margin-top: 8px;
}

.footer__minibox:hover {
    background-color: #f16d7f;
}

.fa {
    color: #000000;
    padding-top: 8px;
}

.footer__minibox:hover .fa {
    color: #ffffff;
}
