@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.header {
  background: #222222;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

.menu__left {
  margin-left: 32px;
}

.menu__right {
  margin-right: 41px;
}

.logo {
  margin-right: 41px;
}

.search {
  margin-right: 33px;
}

.browse {
  display: none;
}

.burger {
  margin-right: 33px;
}

.user {
  margin-right: 33px;
}

.top-content {
  margin-bottom: 65px;
  background: #f1e4e6;
  padding: 0 16px;
}

.top-content__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-content__head-image {
  margin-left: -17%;
  margin-right: 60px;
}

.top-content__head-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -ms-flex-item-align: center;
      align-self: center;
}

.top-content__line {
  height: 96px;
  width: 12px;
  background-color: #f16d7f;
  margin-right: 16px;
}

.body-content {
  padding: 0 16px;
}

.body-content__catalog {
  margin-bottom: 96px;
}

.body-content__catalog-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.body-content__catalog-item {
  position: relative;
}

.body-content__catalog-item2 {
  position: relative;
}

.body-content__catalog-text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-top {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.text-top {
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  color: #222222;
}

.text-top2 {
  color: #e05c6e;
}

.p-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.p-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #e05c6e;
}

.img {
  width: 100%;
}

.content-heading {
  margin-bottom: 48px;
  text-align: center;
}

.content-heading__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.content-heading__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.content-items {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-items__box {
  max-width: 360px;
  margin-bottom: 30px;
  background: #f8f8f8;
}

.content-items__pic {
  margin-bottom: 25px;
  position: relative;
}

.content-items__pic-img {
  width: 100%;
}

.content-items__description {
  padding: 20px;
}

.content-items__description-title {
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.content-items__description-text {
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.content-items__description-price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.content-item__hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.content-item__add {
  width: 138px;
  height: 43px;
  display: none;
  text-align: center;
}

.content-items__box:hover .content-item__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-items__box:hover .content-item__add {
  display: block;
  margin: auto;
}

.content-button {
  max-width: 211px;
  margin: 0 auto 95px;
  border: 1px solid #ff6a6a;
}

.content-button__link {
  display: block;
  padding: 14px 38px;
}

.content-button__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.content-button:hover {
  background-color: #f26376;
}

.content-button:hover .content-button__text {
  color: #ffffff;
}

.foot-content {
  background: #222224;
  min-height: 341px;
}

.foot-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foot-content__item {
  max-width: 360px;
  text-align: center;
  margin-top: 103px;
}

.foot-content__img {
  margin-bottom: 28px;
  height: 40px;
}

.foot-content__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.foot-content__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  padding: 0 32px;
}

.footer {
  background: rgba(244, 244, 244, 0.7);
}

.footer__top {
  background: url(../images/back.jpg) 0 0/cover no-repeat;
  height: 450px;
  max-width: 1600px;
  margin: 0 auto;
}

.footer__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bot {
  background: #222224;
  height: 80px;
}

.footer__info {
  max-width: 360px;
  text-align: center;
}

.footer__info-photo {
  padding-top: 85px;
  margin-bottom: 40px;
}

.footer__info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer__subscribe {
  text-align: center;
  padding-top: 150px;
}

.footer__subscribe-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.footer__subscribe-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
}

.email-input {
  outline: none;
  border: none;
  display: block;
  border-radius: 40px 0 0 40px;
  min-width: 233px;
  background: #e1e1e1;
  padding-left: 22px;
}

.email-button {
  background: #f16d7f;
  outline: none;
  border: none;
  display: block;
  height: 50px;
  width: 100px;
  border-radius: 0 40px 40px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.email-button:hover {
  font-weight: 700;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bot-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-text {
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer__bot-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.footer__minibox {
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  margin-top: 24px;
  text-align: center;
  vertical-align: middle;
}

.footer__icon {
  margin-top: 8px;
}
/*# sourceMappingURL=style.css.map */